@import url("./vars.css");
@import url("./scrollbars.css");
@import url("./features.css");
@import url("./disclaimers.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

body {
  color: var(--fg);
  background-color: #111;
  margin: 0;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

html {
  background-color: black;
  margin: 0;
  overflow-x: hidden;
}

*:not(.material-icons-round) {
  font-family: "Inter", sans-serif;
}

* {
  transition: all 0.15s, color 0.05s;
  outline: none !important;
}

div.center {
  display: flex;
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 800px) {
  section#home {
    height: 460px !important;
  }

  section#download {
    height: 320px !important;
  }

  section#changelog {
    height: 420px !important;
  }
}

@media screen and (max-width: 900px) {
  section#changelog {
    height: 460px !important;
  }
}
