:root * {
  --bg: #111;
  --gradient-start: #008dff;
  --gradient-end: #00488c;
  --gradient-dark-start: #002341;
  --gradient-dark-end: #001222;
  --gradient: linear-gradient(
    -65deg,
    var(--gradient-dark-end) 0%,
    var(--gradient-dark-start) 50%,
    var(--gradient-dark-end) 100%
  );

  --fg: #ccc;
}
